.page {
  color: var(--white);

  &__sorting {
    width: 70%;
    margin: auto;

    h3 {
      font-size: var(--header-2);
      text-align: center;
      margin: 0.5em auto;
    }
  }

  &__section {
    margin: 70px 0;

    h3 {
      font-size: var(--header-1);
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__list {
    margin: 50px 0;
  }
}
