.header {
  height: 60px;
  background-color: var(--gray);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    h2 {
      font-size: var(--header-1);
      font-weight: 700;
    }
  }

  &__link {
    h2 {
      font-size: var(--header-1);
      font-weight: 400;
    }
  }

  &__profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 800px) {
  // variable
  .header {
    display: none;
  }
}
