<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./scss/index.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="wrapper">
          <div class="header--title">
            <h2>Anime Catalog</h2>
          </div>
          <div class="header--link">
            <h2>Browse All</h2>
          </div>
          <div class="left">
            <div class="header--search">
              <input type="text" />
            </div>
            <div class="header--profile"></div>
          </div>
        </div>
      </div>
    </header>
    <main class="profile-page">
      <div class="thumbnail">
        <img src="./assets/thumbnail-image.png" alt="thumbnail" />
        <h3>Welcome to Anime Catalog</h3>
        <p>Discover new anime, track your progress</p>
      </div>
      <div class="container">
        <div class="wrapper">
          <div class="profile-page__section">
            <h3>POPULAR THIS WEEK</h3>
            <div class="card-line">
              <div class="card">
                <img
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
              <div class="card">
                <img
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
              <div class="card">
                <img
                  class="image"
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
              <div class="card">
                <img
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
              <div class="card">
                <img
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-page__section">
            <h3>YOU MIGHT ALSO LIKE</h3>
            <div class="card-line">
              <div class="card">
                <img
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
              <div class="card">
                <img
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
              <div class="card">
                <img
                  class="image"
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
              <div class="card">
                <img
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
              <div class="card">
                <img
                  src="./assets/fullmetal-alchemist-brotherhood-1-190x285.jpg"
                  alt="fullmetal alchemist brotherhood"
                />
                <div class="card__info">
                  <div class="status">
                    <span class="dot plan-to-watch"></span>plan to watch
                  </div>
                  <hr />
                  <h4>Fullmetal Alchemist: Brotherhood</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="wrapper">
          <div class="footer--content">
            <a href="#" class="footer--text">Anime Catalog</a>
            <div class="footer--icons">
              <a href="#">
                <img src="./assets/linkedin-svgrepo-com.svg" alt="linkedin" />
              </a>
              <a href="#">
                <img src="./assets/telegram-svgrepo-com.svg" alt="telegram" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
