<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./scss/index.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="wrapper">
          <div class="header--title">
            <h2>Anime Catalog</h2>
          </div>
          <div class="header--link">
            <h2>Browse All</h2>
          </div>
          <div class="left">
            <div class="header--search">
              <input type="text" />
            </div>
            <div class="header--profile"></div>
          </div>
        </div>
      </div>
    </header>
    <main class="">
      <div class="container">
        <div class="wrapper"></div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="wrapper">
          <div class="footer--content">
            <a href="#" class="footer--text">Anime Catalog</a>
            <div class="footer--icons">
              <a href="#">
                <img src="./assets/linkedin-svgrepo-com.svg" alt="linkedin" />
              </a>
              <a href="#">
                <img src="./assets/telegram-svgrepo-com.svg" alt="telegram" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
