.SelectedTags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}

.title {
  font-weight: 400;
  font-size: var(--header-2);
}

.plusButton {
  background-color: var(--background);
  width: 25px;
  aspect-ratio: 1/1;
  border: 1px solid var(--white);
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    filter: invert(100%);
  }
}

.tag {
  border: 1px var(--light-gray) solid;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--dark-gray);
  }
}
