.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 80px;
}

.card {
  font-size: var(--small-text);
  width: min-content;
  background-color: var(--dark-gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    border-radius: 5px;
    width: 180px;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  &__info {
    width: auto;
    min-height: 100px;
    padding: 5px 10px;
  }

  .status {
    display: flex;
    align-items: center;
    margin: 3px 0;
  }

  hr {
    margin: 3px 0;
  }

  h4 {
    text-align: center;
    margin: 5px 0;
    font-weight: 600;
  }
}
