.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 80px;
}

.card {
  font-size: var(--small-text);
  width: min-content;
  background-color: var(--dark-gray);
  border-radius: 5px;

  img {
    border-radius: 5px;
    width: 180px;
  }

  &__info {
    width: auto;
    padding: 0 10px;
  }

  .status {
    display: flex;
    align-items: center;
    margin: 3px 0;
  }

  hr {
    margin: 3px 0;
  }

  h4 {
    text-align: center;
    margin: 5px 0;
    font-weight: 600;
  }
}
