.search-bar {
  width: 100%;
  height: 36px;
  margin: 20px auto;

  input {
    color: var(--white);
    font-size: var(--text);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: 2px solid var(--white);
    background-image: url(../assets/search-icon.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-attachment: scroll;
    background-position: left 10px top 50%;
    background-color: var(--black);
    padding: 0 40px;

    &::placeholder {
      color: var(--white);
      font-size: var(--text);
    }
  }
}
