.tags-container {
  position: relative;
  margin: 30px 0;

  &__selected {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em 1em;

    &__title {
      font-weight: 400;
      font-size: var(--header-2);
    }
  }

  &__block {
    overflow-y: scroll;
    position: static;
    margin-top: 20px;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 400px;
    background-color: var(--background);
    border: 2px var(--white) solid;
    border-radius: 3px;
    font-size: var(--small-text);
    padding: 5px 10px;

    &__selected,
    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 7px 10px;
    }

    .tag {
      border: 1px var(--light-gray) solid;
      border-radius: 5px;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: var(--dark-gray);
      }
    }

    hr {
      margin: 20px 0;
    }

    &__navigation {
      display: flex;
      justify-content: space-between;
    }

    .close-button {
      height: 50px;
      aspect-ratio: 1/1;
      filter: invert(100%);

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    input {
      color: var(--white);
      font-size: var(--text);
      height: 40px;
      width: calc(60% - 40px - 4px);
      border-radius: 3px;
      border: 1px solid var(--light-gray);
      background-color: var(--black);
      padding: 5px 10px;
      outline: none;

      &::placeholder {
        opacity: 0.6;
        color: var(--white);
        font-size: var(--text);
      }
    }
  }

  .plus-button {
    width: 25px;
    aspect-ratio: 1/1;
    &:hover {
      cursor: pointer;
      filter: invert(100%);
    }
  }
}
