.button {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 5px;
  color: var(--white);
  font-size: var(--text);
  padding: 5px 10px;
  margin: 5px 10px;
  cursor: pointer;
}

.clear {
  border: none;
}
