.header {
  height: 60px;
  background-color: var(--gray);
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .left {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--title h2 {
  font-size: var(--header-1);
  font-weight: 700;
}
.header--link h2 {
  font-size: var(--header-1);
  font-weight: 400;
}
.header--search input {
  width: 200px;
  height: 35px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 8px;
}
.header--profile {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/profile-image.jpeg");
  background-size: contain;
  border-radius: 50%;
}

.footer {
  background-color: var(--gray);
  height: 125px;
}
.footer--content {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  display: flex;
  -moz-column-gap: 200px;
       column-gap: 200px;
  align-items: center;
}
.footer--text {
  color: var(--white);
  font-size: var(--header-2);
  text-decoration: none;
  font-weight: 700;
}
.footer--icons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.card-line {
  display: flex;
  justify-content: space-evenly;
}

.card {
  font-size: var(--small-text);
  width: -moz-min-content;
  width: min-content;
  background-color: var(--dark-gray);
  border-radius: 5px;
}
.card img {
  border-radius: 5px;
  width: 180px;
}
.card__info {
  width: auto;
  padding: 0 10px;
}
.card .status {
  display: flex;
  align-items: center;
  margin: 3px 0;
}
.card hr {
  margin: 3px 0;
}
.card h4 {
  text-align: center;
  margin: 5px 0;
  font-weight: 600;
}

.anime-page {
  margin: 100px 0;
  padding: 0 3em;
}
.anime-page--image {
  width: 190px;
}
.anime-page--line {
  margin-bottom: 50px;
}
.anime-page--content {
  display: flex;
  justify-content: left;
  padding: 0 5em;
  -moz-column-gap: 4em;
       column-gap: 4em;
}
.anime-page--info {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  font-size: var(--text);
  width: 60%;
}
.anime-page--tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}
.anime-page--tag-title {
  font-weight: 400;
  font-size: var(--header-2);
}
.anime-page--select {
  display: flex;
  align-items: center;
}
.anime-page--my-list {
  display: flex;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.anime-page--my-list--dropdown {
  font-size: var(--small-text);
  background-color: var(--black);
  outline: none;
  border: none;
  border-radius: 2px;
  color: var(--content);
}

.profile-page {
  color: var(--white);
}
.profile-page__info {
  position: relative;
  top: -20px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.profile-page__info div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.profile-page__info h3 {
  font-size: var(--header-2);
}
.profile-page__info p {
  font-size: var(--text);
}
.profile-page__info img {
  width: 150px;
  aspect-ratio: 1/1;
  border: var(--background) 10px solid;
}
.profile-page__anime-list {
  margin: 50px auto;
  width: 70%;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
}
.profile-page__anime-list h3 {
  font-size: var(--header-2);
  margin: 0.5em auto;
}
.profile-page__anime-list div {
  padding: 0.5em 50px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.profile-page__anime-list p {
  display: flex;
  align-items: center;
}
.profile-page__section {
  margin: 70px 0;
}
.profile-page__section h3 {
  font-size: var(--header-1);
  text-align: center;
  margin-bottom: 20px;
}
.profile-page__list {
  margin: 50px 0;
}
.profile-page__sorting {
  font-size: var(--text);
  width: 70%;
  margin: 20px auto;
  margin-top: 50px;
}
.profile-page__sorting h3 {
  font-size: var(--header-1);
  text-align: center;
  margin-bottom: 20px;
}
.profile-page__sorting__lists {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.profile-page__sorting .sort-list-item {
  background-color: var(--light-gray);
  padding: 0.5em 1.4em;
}
.profile-page__sorting .selected {
  background-color: var(--black);
}
.profile-page__sorting .sort {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.profile-page__sorting .sort__category {
  text-decoration: underline;
}

:root {
  --background: #1e1e1e;
  --gray: #3d3d3d;
  --light-gray: #454545;
  --dark-gray: #323232;
  --white: #d5d5d5;
  --black: #121212;
  --not-watched: #8f8f8f;
  --watched: #67d1ff;
  --watching: #6aff67;
  --plan-to-watch: #fcff67;
  --stalled: #ffa767;
  --dropped: #ff6767;
  --big-header: 3rem;
  --header-1: 2rem;
  --header-2: 1.8rem;
  --text: 1.2rem;
  --small-text: 1rem;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  background: var(--background);
  color: var(--white);
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.not-watched {
  background-color: var(--not-watched);
}

.watched {
  background-color: var(--watched);
}

.watching {
  background-color: var(--watching);
}

.plan-to-watch {
  background-color: var(--plan-to-watch);
}

.stalled {
  background-color: var(--stalled);
}

.dropped {
  background-color: var(--dropped);
}

.container {
  width: 75%;
  height: 100%;
  margin: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  border-radius: 3px;
  height: -moz-fit-content;
  height: fit-content;
}

.plus-button {
  background-color: var(--background);
  width: var(--text);
  aspect-ratio: 1/1;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.thumbnail {
  position: relative;
}
.thumbnail img {
  width: 100%;
  display: block;
}
.thumbnail h3 {
  font-size: var(--big-header);
  position: absolute;
  top: 40px;
  left: 175px;
}
.thumbnail p {
  font-size: var(--header-2);
  position: absolute;
  top: 100px;
  left: 225px;
  font-style: italic;
}

.content-navigation {
  font-size: var(--text);
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.content-navigation__items-per-page {
  font-size: var(--small-text);
  background-color: var(--black);
  outline: none;
  border: none;
  border-radius: 2px;
  color: var(--content);
}
.content-navigation__page-number {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.content-navigation .active {
  color: var(--white);
}
.content-navigation .not-active {
  color: var(--light-gray);
}

.search-bar {
  width: 100%;
  height: 36px;
  margin: 20px auto;
}
.search-bar input {
  color: var(--white);
  font-size: var(--text);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: 2px solid var(--white);
  background-image: url(../assets/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-attachment: scroll;
  background-position: left 10px top 50%;
  background-color: var(--black);
  padding: 0 40px;
}
.search-bar input::-moz-placeholder {
  color: var(--white);
  font-size: var(--text);
}
.search-bar input::placeholder {
  color: var(--white);
  font-size: var(--text);
}/*# sourceMappingURL=index.css.map */