:root {
  --background: #1e1e1e;
  --gray: #3d3d3d;
  --light-gray: #454545;
  --dark-gray: #323232;
  --white: #d5d5d5;
  --black: #121212;

  --not-watched: #8f8f8f;
  --watched: #67d1ff;
  --watching: #6aff67;
  --plan-to-watch: #fcff67;
  --stalled: #ffa767;
  --dropped: #ff6767;

  --header-1: 2rem;
  --header-2: 1.8rem;
  --text: 1.2rem;
  --small-text: 1rem;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  background: var(--background);
  color: var(--white);
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.not-watched {
  background-color: var(--not-watched);
}

.watched {
  background-color: var(--watched);
}

.watching {
  background-color: var(--watching);
}

.plan-to-watch {
  background-color: var(--plan-to-watch);
}

.stalled {
  background-color: var(--stalled);
}

.dropped {
  background-color: var(--dropped);
}

.container {
  width: 75%;
  height: 100%;
  margin: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  border-radius: 3px;
  height: fit-content;
}

.card-container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.card-line {
  display: flex;
  justify-content: space-evenly;
}

.card {
  font-size: var(--small-text);
  width: min-content;
  background-color: var(--dark-gray);
  border-radius: 5px;

  img {
    border-radius: 5px;
    width: 180px;
  }

  &__info {
    width: auto;
    padding: 0 10px;
  }

  .status {
    display: flex;
    align-items: center;
    margin: 3px 0;
  }

  hr {
    margin: 3px 0;
  }

  h4 {
    text-align: center;
    margin: 5px 0;
    font-weight: 600;
  }
}

.plus-button {
  background-color: var(--background);
  width: var(--text);
  aspect-ratio: 1/1;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.header {
  height: 60px;
  background-color: var(--gray);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--title {
    h2 {
      font-size: var(--header-1);
      font-weight: 700;
    }
  }

  &--link {
    h2 {
      font-size: var(--header-1);
      font-weight: 400;
    }
  }

  &--search {
    input {
      width: 200px;
      height: 35px;
      background-color: var(--black);
      color: var(--white);
      border: none;
      outline: none;
      border-radius: 8px;
    }
  }

  &--profile {
    width: 40px;
    height: 40px;
    background-image: url("../assets/profile-image.jpeg");
    background-size: contain;
    border-radius: 50%;
  }
}

.anime-page {
  margin: 100px 0;
  padding: 0 3em;

  &--image {
    width: 190px;
  }

  &--line {
    margin-bottom: 50px;
  }

  &--content {
    display: flex;
    justify-content: left;
    padding: 0 5em;
    column-gap: 4em;
  }

  &--info {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    font-size: var(--text);
    width: 60%;
  }

  &--tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em 1em;
  }

  &--tag-title {
    font-weight: 400;
    font-size: var(--header-2);
  }

  &--select {
    display: flex;
    align-items: center;
  }

  &--my-list {
    display: flex;
    column-gap: 1em;

    &--dropdown {
      font-size: var(--small-text);
      background-color: var(--black);
      outline: none;
      border: none;
      border-radius: 2px;
      color: var(--content);
    }
  }
}

.footer {
  background-color: var(--gray);
  height: 125px;

  &--content {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    column-gap: 200px;
    align-items: center;
  }

  &--text {
    color: var(--white);
    font-size: var(--header-2);
    text-decoration: none;
    font-weight: 700;
  }

  &--icons {
    display: flex;
    column-gap: 20px;
  }
}

.profile-page {
  color: var(--white);

  .thumbnail {
    position: relative;

    img {
      width: 100%;
      display: block;
    }
  }

  &__info {
    position: relative;
    top: -20px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    column-gap: 20px;

    div {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    h3 {
      font-size: var(--header-2);
    }

    p {
      font-size: var(--text);
    }

    img {
      width: 150px;
      aspect-ratio: 1/1;
      border: var(--background) 10px solid;
    }
  }

  &__anime-list {
    margin: 50px auto;
    width: 70%;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;

    h3 {
      font-size: var(--header-2);
      margin: 0.5em auto;
    }

    div {
      padding: 0.5em 50px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    p {
      display: flex;
      align-items: center;
    }
  }

  &__suggestions {
    margin: 50px 0;

    h3 {
      font-size: var(--header-1);
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__list {
    margin: 50px 0;
  }

  &__sorting {
    font-size: var(--text);
    width: 70%;
    margin: 20px auto;
    margin-top: 50px;

    h3 {
      font-size: var(--header-1);
      text-align: center;
      margin-bottom: 20px;
    }

    &__lists {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .sort-list-item {
      background-color: var(--light-gray);
      padding: 0.5em 1.4em;
    }

    .selected {
      background-color: var(--black);
    }

    .sort {
      display: flex;
      justify-content: flex-end;
      column-gap: 7px;

      &__category {
        text-decoration: underline;
      }
    }
  }
}

.content-navigation {
  font-size: var(--text);
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  &__items-per-page {
    font-size: var(--small-text);
    background-color: var(--black);
    outline: none;
    border: none;
    border-radius: 2px;
    color: var(--content);
  }

  &__page-number {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .active {
    color: var(--white);
  }

  .not-active {
    color: var(--light-gray);
  }
}

.search-bar {
  width: 100%;
  height: 36px;
  margin: 20px auto;
  
  input {
    color: var(--white);
    font-size: var(--text);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: 2px solid var(--white);
    background-image: url(../assets/search-icon.svg);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-attachment: scroll;
    background-position: left 10px top 50%;
    background-color: var(--black);
    padding: 0 40px;

    &::placeholder {
      color: var(--white);
      font-size: var(--text);
    }
  }
}