.select {
  font-size: var(--small-text);
  background-color: var(--black);
  outline: none;
  border: none;
  border-radius: 2px;
  color: var(--content);
}

.select option {
  background-color: var(--black);
}

.clear {
  background-color: transparent;
}
