.AnimeCard {
  font-size: var(--small-text);
  width: min-content;
  background-color: var(--dark-gray);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;

  img {
    border-radius: 5px;
    width: 180px;
    height: 250px;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  hr {
    margin: 3px 0;
  }

  h4 {
    text-align: center;
    margin: 5px 0;
    font-weight: 600;
  }
}

.info {
  width: auto;
  min-height: 100px;
  padding: 5px 10px;
}

.status {
  display: flex;
  align-items: center;
  margin: 3px 0;
}

@media (width <= 800px) {
  .AnimeCard {
    font-size: calc(var(--small-text) * 0.8);

    img {
      width: calc(180px * 0.6);
      height: calc(250px * 0.6);
    }
  }

  .info {
    min-height: 10px;
  }
}
