.DisplayedCategorySelector {
  font-size: var(--text);
  width: 70%;
  margin: 20px auto;
  margin-top: 50px;

  h3 {
    font-size: var(--header-1);
    text-align: center;
    margin-bottom: 20px;
  }
}

.lists {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.listItem {
  background-color: var(--light-gray);
  padding: 0.5em 1.4em;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.selected {
  background-color: var(--black);
}

@media (max-width: 1500px) {
  //variable
  .list-selector {
    font-size: var(--small-text);
  }
}
