:root {
  --background: #1e1e1e;
  --gray: #3d3d3d;
  --light-gray: #454545;
  --dark-gray: #323232;
  --white: #d5d5d5;
  --black: #121212;

  --not-watched: #8f8f8f;
  --watched: #67d1ff;
  --watching: #6aff67;
  --plan-to-watch: #fcff67;
  --stalled: #ffa767;
  --dropped: #ff6767;

  --big-header: 3rem;
  --header-1: 2rem;
  --header-2: 1.8rem;
  --text: 1.2rem;
  --small-text: 1rem;
}
